body,
html {
	margin:0;
	padding:0;
	min-height:100%;
}

.landingMenu ul {

	display:block;
	/*width:800px;
	margin:auto;
	border-radius:0 0 10px 10px;*/
}

.landingMenu a {
	text-decoration:none;
	color: #000;
	border-bottom: 2px solid #FFF;
}
.landingMenu .cur {
	/*border: none;*/
	border-bottom: 2px solid #06A77D;
}

.landingItem {
	font:500px/1000px Arial, Helvetica, sans-serif;
	font-weight:900;

	text-align:center;
	position:relative;
}

.bg_0 {
	height:600px;
	/*line-height:600px;*/
}

.bg_1 {
	height:600px;
	line-height:600px;
}

.bg_2 {
	height:600px;
	line-height:600px;
}

.bg_3 {
	height:600px;
	line-height:600px;
}

.bg_4 {
	height:600px;
	line-height:600px;
}

.bg_5 {
	height:600px;
	line-height:600px;
}

.bg_6 {
	height:600px;
	line-height:600px;
}

.screenDecor { opacity:0;} 