@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/*FONTS*/
.tomoru-font-1 {
	/*margin-top: 70px;*/
	
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 44px;

	color: #06A77D;
}
.tomoru-font-2 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	line-height: 39px;
	font-size: 27px;

	color: #172A3A;
}

.tomoru-font-3 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	line-height: 30px;
	font-size: 15px;

	color: #000000;
}

.tomoru-font-4 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.6);
}

.tomoru-font-5 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;

	color: #37474F;
}

/*BUTTONS*/

.tomoru-btn-1 {
	display: inline-block;
	color: #06A77D;
	padding: 10px 20px;
	/*margin-top: 50px;*/
	border: 1px solid #06A77D;
	border-radius: 20px;
}

.tomoru-btn-1:hover {
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
}

.tomoru-btn-2 {
	background-color: #F1F5FB;
	color: #06A77D;
	border: 1px solid #AEC5EB;
	box-sizing: border-box;
	border-radius: 4px;
}

.tomoru-btn-2.active {
	background-color: #06A77D;
	color: #FFFFFF;
}

.tomoru-btn-2:hover {
	text-decoration: none;
	background-color: #06A77D;
	color: #FFFFFF;
}


/*IMAGES*/

.tomoru-img-block {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.tomoru-img-block-macbook {
	background-image: url('../img/macbook.png');
}

.tomoru-img-block-phone {
	background-image: url('../img/phone.png');
}

.tomoru-img-block-3 {
	background-image: url('../img/block-3.png');
}


/*MAIN MENU*/

.navbar-brand {
	margin: 0 20px;
	font-weight: 600;
	border-bottom: 2px solid #fff;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #DDDDDD;
}

.nav-link {
	color: #000;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px;
}

/*MISC*/

.myrow {
	margin-left: 0; margin-right: 0;
}
.mycol {
	padding-left: 0; padding-right:0;
}
.slider-handle {
	background-color: #FFF !important;
	background-image: none;
    background-repeat: repeat-x;
    border: 2px solid #06A77D;
}

/*.row {
	margin-left: 0; 
	margin-right: 0;
	padding-left: 0; 
	padding-right:0;
}*/