@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
	font-family: 'Play';
}

/*FONTS*/
.jppv-subheader {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 16px;

	color: #0A1D2E;
}
.nav-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	letter-spacing: -0.4px;

	color: #0A1D2E;
}

/*BUTTONS*/


/*IMAGES*/

.top-logo-img {
	width: 121px;
	height: 76px;
}



/*MAIN MENU*/

.navbar {
	background-color: #fff;
}

.nav-link {
	color: #0A1D2E;
}

/*MISC*/

.myrow {
	margin-left: 0; margin-right: 0;
}
.mycol {
	padding-left: 0; padding-right:0;
}
.slider-handle {
	background-color: #FFF !important;
	background-image: none;
    background-repeat: repeat-x;
    border: 2px solid #06A77D;
}
