/*FONTS*/
.tomoru-font-1 {
	/*margin-top: 70px;*/
	
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 44px;

	color: #06A77D;
}
.tomoru-font-2 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	line-height: 39px;
	font-size: 27px;

	color: #172A3A;
}

.tomoru-font-3 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	line-height: 30px;
	font-size: 15px;

	color: #000000;
}

.tomoru-font-4 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.6);
}

.tomoru-font-5 {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;

	color: #37474F;
}

// IMAGES

#tomoru-img-macbook-right {
	background-image: none;
}