@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
	font-family: 'Play';
}

/*FONTS*/

h1, h1 a {
	font-family: Play;
	font-style: normal;
	font-weight: bold;
	line-height: 48px;
	font-size: 48px;

	color: #0A1D2E;
}

h2, h2 a {
	font-family: Play;
	font-style: normal;
	font-weight: bold;
	line-height: 32px;
	font-size: 32px;

	color: #0A1D2E;
}

h3, h3 a {
	font-family: Play;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	font-size: 24px;

	color: #16181B;
}

.gray-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 16px;

	color: #ACB3BF;
}

.jppv-subheader {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 16px;

	color: #0A1D2E;
}
.nav-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	letter-spacing: -0.4px;

	color: #0A1D2E;
}

.text-breadcrumbs * {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: -0.4px;

	color: #ACB3BF;
}

.button-back {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: -0.4px;

	color: #0A1D2E;
}