
/*IMAGES*/

.top-logo-img {
	width: 121px;
	height: 76px;
}

.main-page-image-1 {
	background-image: url('../img/pano.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.main-page-map-image-dv {
	background-image: url('../img/slide-1-dv.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	// height: 80vh;
}

.main-page-map-image-vl {
	background-image: url('../img/slide-2-vl.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	// height: 80vh;
}