
/*IMAGES*/

.top-logo-img {
	width: 121px;
	height: 76px;
}

.main-page-image-1 {
	background-image: url('../img/pano.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

