
/*IMAGES*/

.top-logo-img {
	width: 121px;
	height: 76px;
	//width: 100%;
	//height: auto;
}


/* MAP */

.main-page-image-1 {
	background-image: url('../img/pano.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.main-page-map-image {
	//background: 50% 50% no-repeat;
	background-position: center bottom;
	background-size: 100% 90%;
	background-repeat: no-repeat;
	// height: 80vh;
}

.main-page-map-image-dv {
	background-image: url('../img/slide-1-dv.png');
}

.main-page-map-image-vl {
	background-image: url('../img/slide-2-vl.png');
}