/*FONTS*/


// IMAGES

#tomoru-img-macbook-right {
	background-repeat: no-repeat;
	// background-size: contain;
	background-size: 50%;
	background-position: right;
	background-image: url('../img/macbook-mobile.png');
}